configure
configure.scan
autoscan.log
aclocal.m4
compile
config.guess
config.sub
config.log
depcomp
install-sh
missing
lib/Makefile.in
src/config.in
*.cache
makefile
TAGS
*~
/README.W32

/bin/
/site-lisp/
/leim/ja-dic/
etc/refcards/*.aux
etc/refcards/*.log
info/dir
info/*.info
*DS_Store*
*.status
*.orig
*.dSYM
*(Autosaved)*
bootstrap-stamp
*.elc
confdefs.h
conftest*
