# allow the configure script, so that it is easier to see what effect my
# changes are having on it.
configure*.scan
autoscan.log
aclocal.m4
compile
config.guess
config.sub
config.log
depcomp
install-sh
libtool
missing
# allow gnulib's automake-generated Makefile.in, for the same reason
# as allowing the configure script
po/Makevars
src/config.in
*.cache
makefile
TAGS
*~
/README.W32

# not sure why the break?
/bin/
/site-lisp/
/leim/ja-dic/
etc/refcards/*.aux
etc/refcards/*.log
info/dir
info/*.info
*DS_Store*
*.status
*.bak
*.orig
*.dSYM
*(Autosaved)*
bootstrap-stamp
*.elc
confdefs.h
conftest*
