# gitignore file for emacs/lib-src
DOC
b2m
blessmail
ctags
ctags.c
cvtmail
digest-doc
ebrowse
emacsclient
emacsserver
etags
fakemail
getopt_long_test
getopt_test
hexl
make-docfile
movemail
profile
sorted-doc
test-distrib
update-game-score
wincompat_test
yow

stamp_BLD
echolisp.tmp

oo/
oo-spd/
*.o

# gcc -save-temps output for reporting compiler bugs:
pop.i
pop.s

# profiling:
gmon.out
