# gitignore file for emacs/mac/Emacs.app/Contents/MacOS

# Normally I would ignore the whole app bundle, but the original source
# included the whole thing, so instead just ignore the executable:
emacs
#
