*deps/*.*o
*.o
lib*.a

alloca.h
assert.h
byteswap.h
dirent.h
errno.h
fcntl.h
getopt.h
inttypes.h
sched.h
signal.h
spawn.h
stdalign.h
stdint.h
stdbool.h
stdio.h
stdlib.h
string.h
sys/select.h
sys/stat.h
sys/time.h
sys/types.h
time.h
unistd.h

arg-nonnull.h
c++defs.h
link-warning.h
warn-on-use.h
