# gitignore file for emacs/lib (i.e. vendored copy of gnulib sources)

# general build output:
*deps/*.*o
*/*deps/*.*o
.deps/.dirstamp
*/.deps/.dirstamp
*/.dirstamp
*.o
*/*.o
lib*.a
*/lib*.a

# built headers:
alloca.h
arpa/inet.h
assert.h
byteswap.h
configmake.h
ctype.h
dirent.h
errno.h
execinfo.h
fcntl.h
float.h
fnmatch.h
getopt.h
getopt-cdefs.h
glob.h
iconv.h
inttypes.h
langinfo.h
limits.h
locale.h
malloc.h
math.h
monetary.h
netdb.h
poll.h
pthread.h
pty.h
sched.h
search.h
signal.h
spawn.h
stdalign.h
stddef.h
stdint.h
stdbool.h
stdio.h
stdlib.h
stdnoreturn.h
string.h
strings.h
sys/file.h
sys/ioctl.h
sys/random.h
sys/resource.h
sys/select.h
sys/socket.h
sys/stat.h
sys/time.h
sys/times.h
sys/types.h
sys/uio.h
sys/utsname.h
sys/wait.h
termios.h
threads.h
time.h
uchar.h
unistd.h
unitypes.h
uniwidth.h
utime.h
wchar.h
wctype.h

# copied snippet:
link-warning.h
# unused-parameter.h is no longer a copied snippet, so allow it.

# gcc -save-temps output for reporting compiler bugs:
sha256.i
sha256.s

# distclean removed these:
charset.alias
ref-add.sed
ref-del.sed
