*deps/*.*o
*.o
lib*.a

# built headers:
alloca.h
assert.h
byteswap.h
configmake.h
dirent.h
errno.h
fcntl.h
getopt.h
inttypes.h
sched.h
signal.h
spawn.h
stdalign.h
stdint.h
stdbool.h
stdio.h
stdlib.h
stdnoreturn.h
string.h
sys/ioctl.h
sys/resource.h
sys/select.h
sys/stat.h
sys/time.h
sys/types.h
time.h
unistd.h
wchar.h
wctype.h

# copied snippets:
arg-nonnull.h
c++defs.h
link-warning.h
unused-parameter.h
warn-on-use.h
