# gitignore file for emacs/src

# generated headers:
buildobj.h
buildobj.lst
config.h
epaths.h
globals.h
version.h

# stampfiles used by the Makefile:
stamp_BLD
# catches stamp-h1:
stamp-h*
# catches gl-stamp:
*-stamp

# compilation output:
oo/
oo-spd/
*.o
deps/*.d
temacs
temacs.map
temacs.tmp
emacs
emacs-[0-9]*
bootstrap-emacs
prefix-args
getloadavg_test
vms-pp
vms_pp
libemacs.a

# -save-temps output:
*.mi

# static analysis output:
clang_static_analysis/*

# just something I redirected some output to; I intend to remove it later:
obj.txt

# profiling:
gmon.out
